/* Colors */
$yellow-color: #EDFE8A;

/* Width */
/* components */
$underline-width: calc(100% + 0.6em);

/*pages*/
$tablet-width: 1500px;

$mobile-width: 1325px;

$page-max-width: 1000px;
$content-max-width: 900px;

/* Margins and paddings */
$section-margin: 0 auto;
$section-padding: 3rem 2rem;
$title-margin: 1rem;
