@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: "Inknut Antiqua", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    overflow-x: hidden;
    width: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: $page-max-width;
    margin: $section-margin;
    padding: $section-padding;

    p {
        max-width: $content-max-width;
        margin: 0 auto;
    }
}

h1,
h2,
h3,
h4,
p {
    margin: 0px;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    z-index: 1;
}

h2 {
    margin-bottom: $title-margin;
}

h3 {
    font-size: 21px;
    margin-bottom: 1rem;
}

h2::after {
    position: absolute;
    content: '';
    height: 0.4em;
    background-color: $yellow-color;
    z-index: -1;
    bottom: 0.6em;
    width: $underline-width;
    left: -0.3em;
    right: -0.3em;
    border-radius: 0.2em;
}

.faux-body {
    background: linear-gradient(180deg,
            #B1E1F9 0%,
            #C0E4D9 60%,
            #F8EED3 100%);
    min-height: 92vh;
}

.additional-content {
    background-color: #f8eed3;
}

strong {
    font-weight: 700;
}
